
@keyframes view {
  100% {
      opacity: 0.06;
  }

}
@keyframes rotate {
  100% {
      transform: rotate(360deg);
  }
}


#LuringMessage{
  color: #ffffff;
  position: relative;top: -500px; left: 600px;
  font-family:    Impact, Charcoal, sans-serif;

}
#sign_up{
  position: relative; top: -80px;left: 1350px;
  font-family:    Impact, Charcoal, sans-serif;
  font-size: 20px;
  width: 100px;
  height: 40px;
  color:#ffffff ;
  background-color: #b10a0a;
  border: none;
}
#sign_up:hover{
  background-color: #2f0101;

}
#sign_in{
  position: relative; top: -80px;left: 1350px;
  font-family:    Impact, Charcoal, sans-serif;
  width: 100px;
  height: 40px;
  color:#ffffff;
  background-color: #3545a1 ;
  border: none;
  font-size: 20px;
}
#sign_in:hover{
  background-color: #111631 ;
}
#finch_image{
  opacity: 0.08;
  position: relative;left: 100px;
  animation: view 10s linear infinite;
}
#TopBar{
  background-color: #000000;
  width: 100%;
  height: 100px;
  overflow-y: hidden
}
#TopLine{
  position: relative; top: -50px;
}
#rotation{
  width: 50px;
  height: 50px;
  position: relative; top: -65px; left: 450px;
  animation: rotate 5s linear infinite;
}
#rotation2{
  width: 50px;
  height: 50px;
  position: relative; top: -65px; 
  animation: rotate 5s linear infinite;
}

#main-label{
  color: #ffffff;
  font-family:    Impact, Charcoal, sans-serif;
  position: relative;left: 125px;

}
#links button {
  width: 200px;
  height: 60px;
  background: black;
  color: aliceblue;
  border-radius: 4px;
  border: 1px solid #ff00007e;



}
#usage{
  position: relative; top: -400px; left: 200px;
  width: 400px;
  background-color:#00000059 ;
  border: 1px solid #ffffff;
  

}
#usageicon{
  width: 60px;
  height: 60px;
  position: relative;left: 175px;
}
#usage_desc,#version_desc,#system_desc{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #ffffff;
}
#versions{
  position: relative;top: -625px; left:700px; 
  background-color:#00000059 ;
  width: 400px;
  border: 1px solid #ffffff;
}
#versionsicon{
  width: 200px;
  position: relative; left: 80px;


}
#systems{
  position: relative; top: -775px; left:1200px;
  background-color:#00000059 ;
  width: 400px;
  border: 1px solid #ffffff;
}
#systemicon{
  width: 75px;
  position: relative;left: 155px;
}
#auth_entries{
  backdrop-filter: blur(5px);
  background-color:#757373d3 ;
  position: relative; top: -1660px;
  width: 2000px;
  height: 975px;
  
}

#sign_in_inner{
  background: #030303cc;
  width: 600px;
  height: 500px;
  position: relative; left: 650px;top: 200px;
 
}
.entries{
  font-size: 20px;
  margin:10px;
  padding: 3px; 
  width: 400px;
  height: 50px;
  border-radius: 4px;
  border: none;

}
#code_entry{
  position: relative;top: 140px; left: 90px;
}
#email_entry,#password_entry{
 
  position: relative;top: 140px;left: 90px;

}
#check_login,#check_signup{
  width: 300px;
  height: 70px;
  position: relative; left: 160px;top: 180px;
  background-color: #b10a0a;
  font-size: 40px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border: none;
}
#check_login{
  position: relative; left: 160px;top: 180px;
}
#login_rotation,#signup_rotation{
  animation: rotate 5s linear infinite;
  width: 100px;
 
}
#login_rotation{
  position: relative; top: -125px; left: -50px;
}
#close_login,#close_signup{
  font-size: 50px;
  color: #ffffff;
  background: none;
  border: none;
  
}
#close_login{
  position: relative;top: -200px;left: 135px;
}
#sign_up_inner{
  background: #030303cc;
  width: 600px;
  height: 700px;
  position: relative;left: 650px; top: 110px;
}
#signup_email_entry,#signup_password_entry{
  position: relative;top: 200px; left: 85px;

}
#password_entry_verify{
  position: relative;top: 195px; left: 85px;
}
#Special_Code{
  position: relative;top: 190px;left: 85px;
}
#check_signup{
  position: relative;top: 200px;left: 145px;
}
#signup_rotation{
  
  position: relative; top: -100px; left: -70px;

}
#close_signup{
  position: relative;left: 143px;top: -200px;
}
body{
  background: #000000;
   
}
*{
  overflow: hidden;
}
#SuccessDialog,#ErrorDialog{
  backdrop-filter: blur(5px);
  background-color:#696767bc ;
  width: 600px;
  height: 420px;
  position: absolute;top: 200px;left: 658px;

}

#SuccessDialog h1,#ErrorDialog h1{
  color: #00ff2a;
  position: relative;left: 110px;
  font-family: "Lucida Console", "Courier New", monospace;
}
#SuccessDialog button,#ErrorDialog button{
  position: relative;left: 130px; top: 100px;
  background:#5c1e1eb9 ;
  color: #ffffff;
  font-size: 30px;
  width: 325px;
  height: 100px;
  border: none;
  font-family: "Lucida Console", "Courier New", monospace;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.582), 0 2px 10px 0 rgba(0, 0, 0, 0.561);
}