@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes view{
    100%{
        opacity: 0.2;
    }
}

#hub_main_wrapper{

   
    background-color: #4d2323;
    height: 1200px;
}
#logoutbutton,#contactsbutton{
    background: none;
    border: 2px solid #ffffff;
    height: 150px;
    width: 140px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.582), 0 6px 20px 0 rgba(0, 0, 0, 0.561);


    
}
#breachbutton{
    background: none;
    border: 2px solid #ff0000;
    height: 150px;
    width: 140px;
    font-size: 20px;
    font-weight: bold;
    color: #ff0000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.582), 0 6px 20px 0 rgba(0, 0, 0, 0.561);
    position: relative; left: 65px; top: 18px;
}
#contactsbutton{
    position: relative;left: 45px;top: 30px;
}
#logoutbutton{
    position: relative;top: 30px; left: 30px;
}
#add_person_button{
    position: relative;top: -90px;
    width: 200px;
    height: 40px;
}
#logoutbutton:hover, #contactsbutton:hover,#breachbutton:hover{
    opacity: 0.5;
}
#current_profiles_label{
    color: #ffffff;
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: relative; left: 100px;
}
#current_profiles_logo{
    width: 60px;
    animation: rotate 5s linear infinite;
    position: relative;left: 370px;top: -70px;
    

}
#getFile{
    display:none;
}
#new_person_header img{
    width: 200px;
    position: relative; left: 850px; top: -80px;
    animation: view 5s linear infinite;
     
}
#new_person_header{
    height: 300px;
}
#new_person_header h2{
    position: relative; top: 100px;
    font-size: 70px;
    color: #ffffff;
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: relative; left: 140px;
}
#new_person_entries{
    position: relative; top: 100px;
    height: 1200px;
    
}
#new_race_entry{
    position: relative; top: 240px; left: 247px;
}
#new_last_entry{
    position: relative;top: 80px;left: -359px;
}
#Image{
    position: relative;top: 350px;left: -200px;
    background: #4d2323;
    border: none;
    width: 300px;
    height: 60px;
    font-size: 20px;
    color: #ffffff;
}
#close_create_person{
    background: none;
    border: none;
    font-size: 50px;
    color: #ffffff;
   position: relative;top: -230px; left: 1050px;
}
#Create_person_button{
    position: relative;top: 450px;left: -500px;
    background: #4d2323;
    border: none;
    width: 300px;
    height: 60px;
    font-size: 20px;
    color: #ffffff;
}
#new_location_entry{
    position: relative; top: 200px;left: -360px;
}
#new_person_form{
    height:1100px;
}
#new_first_entry{
    position: relative; left: 250px;
}
#new_height_entry{
    position: relative;top: 110px;left: 245px;
}
.persondata{
    width: 600px;
    height: 50px;font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.582), 0 6px 10px 0 rgba(0, 0, 0, 0.561);
    border: none;

}
 .popupwrappers{
    backdrop-filter: blur(5px);
    background-color:#757373d3 ;
    width: 1300px;
    height: 1075px;
   
}
#new_person_wrapper{
    position: relative;top: -3800px;left: 530px; 
    display: none;
}
#accountbar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.582), 0 6px 20px 0 rgba(0, 0, 0, 0.561);
    height: 220px;
    width: 500px;
    background-color: #443e3e;
    position: relative; top: -2770px; left: 1280px;
}
#statsbar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.582), 0 6px 20px 0 rgba(0, 0, 0, 0.561);
    height: 220px;
    width: 680px;
    background-color: #ffffff;
    position: relative ;top: -2550px; left: 550px;
    
}
#DetailedHeader{
    background: #5c1e1eb9;
    height: 90px;
}
#DetailedHeader h3{
    color: #ffffff;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 30px;
    position: relative;left: 130px;
    
}
#EntryDetailedView:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.582), 0 12px 40px 0 rgba(0, 0, 0, 0.561);

}
#ActualDetails{
    height: 600px;
}
#details_level_img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: rotate 16s linear infinite;
    
}
#breach_warning_label{
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.582), 0 8px 8px 0 rgba(0, 0, 0, 0.561);
    color: rgba(255, 0, 0, 0.589);
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#breach_confirm_button{
    background: #ff0000;
    border: none;
    width: 300px;
    height: 60px;
    font-size: 20px;
    color: #ffffff;
    font-family: "Lucida Console", "Courier New", monospace;
    position: relative;top: 270px;left: -280px;
}
#close_breach_popup{
    background: none;
    border: none;
    color: #ffffff;
    font-size: 50px;
    position: relative;top: -77px;left: 32px;
}
#breach_code_input{
    position: relative;left: 170px; top: 150px;
}
#breach_confirm_wrapper{
    backdrop-filter: blur(5px);
    background-color:#000000bc ;
    width: 1000px;
    height: 800px;
    position: relative;top: -3600px; left: 600px;
    display: none;
}
#contacts_popup_wrapper{

    backdrop-filter: blur(5px);
    background-color:#000000bc ;
    width: 1000px;
    height: 820px;
    position: relative;top: -3650px; left: 600px;
    display: none;
   
}
#add_contact_button{
    background: #4d2323;
    border: none;
    width: 300px;
    height: 60px;
    font-size: 20px;
    color: #ffffff;
    position: relative;left: 330px;top: -10px;
    
}
#close_contact_button{
    background: none;
    border: none;
    color: #ffffff;
    font-size: 50px;
    position: relative;top: -730px;left: 640px;
}
#contact_label{
     color: #ffffff;
     font-size: 50px;
     font-family: "Comic Sans MS", cursive, sans-serif;
     position: relative;left: 280px;
}
#contacts_list{
    background-color: #ffffff71;
    width: 1000px;
    height: 600px;
    position: relative;top: -15px;
    overflow-y: scroll;
}

#create_contacts_wrapper{
    backdrop-filter: blur(5px);
    background-color:#000000bc ;
    width: 600px;
    height: 420px;
    position: relative;top: -3500px;left: 700px;
    display: none;
}
#Contact_name_entry,#Contact_email_entry{
    border: none;
    font-size: 20px;
    width: 300px;
    height: 40px;
}
#Contact_name_entry{
    position: relative;left: 140px;top: 40px;
}
#Contact_email_entry{
    position: relative;left: 140px;top: 60px;
}
#create_contact_label{
    position: relative; left: 130px;
    color: #ffffff;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#close_add_contact_popup{
    background: none;
    border: none;
    color: #ffffff;
    font-size: 50px;
    position: relative;top: -130px; left: 245px;
}
#create_contact_button{

    background: #4d2323;
    border: none;
    width: 300px;
    height: 60px;
    font-size: 20px;
    color: #ffffff;
    position: relative;
    top: 100px; left: 140px;
}

#entry_details_wrapper{
    border: 4px solid #ffffff;
    position: relative;top: 50px;
    height: 120px;

}
#entry_date,#entrynickname{ 
    font-family: "Lucida Console", "Courier New", monospace;
    color:#000000b9 ;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.582), 0 12px 40px 0 rgba(0, 0, 0, 0.561);
    width: 150px;
    height: 30px;
    position: relative;top: 52px; left: 120px;
    padding-left: 90px;

}
#threat_level{
    font-family: "Lucida Console", "Courier New", monospace;
    color:#000000b9 ;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.582), 0 12px 40px 0 rgba(0, 0, 0, 0.561);
    width: 200px;
    height: 30px;
    font-size: 20px;
    position: relative;top: 52px; left: 120px;
    padding-left: 40px;
    ;

}
#entry_details{
    font-family: "Lucida Console", "Courier New", monospace;
   
    
}
#entry_popup{
    position: relative;top: -3700px;left: 525px;
    display: none;
    
}
#add_entry_label{
    font-size: 100px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #ffffff;
    position: relative;left: 110px;
}

#close_entry_popup{
    color: #ffffff;
    font-size: 50px;
    position: relative; top: -400px; left: 1050px;
    background: none;
    border: none;

}
#Entry_Details_label{
    position: relative; top: 100px; left: -70px;
}
#Entry_Details_desc{
    position: relative; top: 150px;left: 278px;
    resize: none;
    height: 200px;
    width: 600px;
    font-size: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.582), 0 12px 40px 0 rgba(0, 0, 0, 0.561);
}
#threat_level_dropdown{
    position: relative; top: 100px;left: -110px;
    width: 120px;
    height: 60px;
    font-size: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.582), 0 12px 40px 0 rgba(0, 0, 0, 0.561);
}
#threat_popup_entries{
    height: 1000px;
}
#Submit_Entry_Button{
    background: #4d2323;
    border: none;
    width: 300px;
    height: 60px;
    font-size: 20px;
    color: #ffffff;
    position: relative;top: 240px; left: -170px;
}
#entry_popup_header{
    background-color: rgba(0, 0, 0, 0.479);
    height: 250px;
}
#entry_popup_logo{
    width: 200px;
    position: relative;left: 800px;top: -250px;
    animation: view 5s linear infinite;

}

#threat_popup_rotation{
    animation: rotate 16s linear infinite;
    border-radius: 50%;
    width: 230px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.582), 0 12px 40px 0 rgba(0, 0, 0, 0.561);
    position: relative;left: 450px; top: 30px;

}
#details_level_img_wrapper{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.582), 0 6px 20px 0 rgba(0, 0, 0, 0.561);
    position: relative;left: 145px; top: 50px;

}
#EntryDetailedView{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.582), 0 6px 20px 0 rgba(0, 0, 0, 0.561);
    height: 633px;
    width: 500px;
    background-color: #c2c2c2;
    position: relative;top: -2600px; left: 1280px;
}
#current_profiles_logo2{
    width: 60px;
    animation: rotate 5s linear infinite;
    position: relative; top: -70px; left: -40px;
}
#entry_hub_view{
    height: 653px;
    width: 350px;
    background-color: #000000;
    position: relative;top: -653px; left: 880px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.582), 0 6px 20px 0 rgba(0, 0, 0, 0.561);
    
}
#entry_hub_header h1 {
    color: #ffffff;
}
#profileview{
    height: 1300px;
    width: 500px;
    background-color: #000;
    position: relative ;top: -1320px;
  
    overflow-y:scroll;
}
#deletebutton,#editbutton{
    border-radius: 4px;
    background: #5c1e1eb9;
    border: none;
    
    height: 50px;
}
#deletebutton{
    position: relative;top: 15px;left: 20px;
}
#editbutton{
    position: relative;top: 15px; left: 5px;
}
#sharebutton{
    background-color: #5c1e1eb9;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-family: "Lucida Console", "Courier New", monospace;
    width: 150px;
    height: 50px;
    position: relative;left: 30px;top:-3px;
}
#editImage,#deleteImage{
    height: 45px;
   
}

.statwrappers{
    background-color:#5c1e1eb9;
    width: 200px;
    height: 200px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.582), 0 6px 20px 0 rgba(0, 0, 0, 0.561); 
}
.statwrappers h3 ,.statwrappers h2 {
    color: #ffffff;
    font-family: "Lucida Console", "Courier New", monospace;
    

}
.statwrappers h3{
    font-size: 20px;
    position: relative; left: 50px;
}
.statwrappers h2{
    font-size: 40px;
    position: relative;left: 85px; top: 50px;
}
#entry_num_wrapper{ 
    position: relative; top: -190px;left: 250px;
}
#profile_num_wrapper{
    position: relative; top: 10px;left: 30px;
}
#date_num_wrapper h2 , #date_num_wrapper h3{
    color: #ffffff;
    font-family: "Lucida Console", "Courier New", monospace;

    
}
#date_num_wrapper h3{
position: relative;left: 10px;
}
#date_num_wrapper h2 {
    position: relative; top: 70px; left: 30px;
}
#date_num_wrapper{
    position: relative; top: -390px;   left: 470px;
    background-color:#5c1e1eb9;
    width: 200px;
    height: 200px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.582), 0 6px 20px 0 rgba(0, 0, 0, 0.561); 

}
#profile_summary_footer{
    background-color: #ffffff;
    height: 330px;
    width: 330px;
    position: relative; left: 550px; top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.582), 0 6px 20px 0 rgba(0, 0, 0, 0.561);
}
#profile_summary_footer h3{
    font-family: "Lucida Console", "Courier New", monospace;
}
#add_entry_button:hover , #editbutton:hover,#sharebutton:hover,#deletebutton:hover{
    opacity: 0.5;

}
#add_entry_button{
    position: relative;top: -10px;
    background:#5c1e1eb9 ;
    color: #ffffff;
    font-size: 20px;
    width: 325px;
    height: 50px;
    border: none;
    font-family: "Lucida Console", "Courier New", monospace;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.582), 0 2px 10px 0 rgba(0, 0, 0, 0.561);
}
#Main_Profile_Image{

    position: relative;left: 550px; top: 10px;
    height: 330px;
    width: 330px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.609), 0 6px 20px 0 rgba(0, 0, 0, 0.541);
}

.PersonsNames{
    color:#ffffff;
    position: relative; top: -170px; left: 210px;
    font-size: 35px;

}
.PersonsImages{
    width: 180px;
    height: 175px;
    border-radius: 50%;
}
.PersonsWrapper{
   
    background-color:#111111 ;
    border: 1px solid #000000;
    padding-top: 30px;
    height: 210px;
    width: 477px;
    
}


.PersonsWrapper:hover{
    background-color: #000000; 
}
.contacts_child{
    background-color: #ffffff;
    height: 80px;
}
.contacts_child h1{
    font-family: "Lucida Console", "Courier New", monospace;
}
.contacts_child:hover{
    opacity: 0.6;

    
}
.contacts_child button{
    position: relative;top: -70px; left: 790px;
    background-color: #771212;
    border: none;
    width: 155px;
    height: 60px;
}
.entry_listing{
    background-color: #616161b9;
    height: 80px;
}
.entry_listing:hover{
    background-color: #000000;
    border: 1px solid #ffffff;
 
}
#entry_hub_label{
    font-family: "Lucida Console", "Courier New", monospace;
    color: #ffffff;
    position: relative;left: 50px;

}
#SuccessDialog,#ErrorDialog{
    backdrop-filter: blur(5px);
    background-color:#696767bc ;
    width: 600px;
    height: 420px;
    position: absolute;top: 200px;left: 700px;
 
}

#SuccessDialog h1,#ErrorDialog h1{
    color: #00ff2a;
    position: relative;left: 110px;
    font-family: "Lucida Console", "Courier New", monospace;
}
#SuccessDialog button,#ErrorDialog button{
    position: relative;left: 130px; top: 100px;
    background:#5c1e1eb9 ;
    color: #ffffff;
    font-size: 30px;
    width: 325px;
    height: 100px;
    border: none;
    font-family: "Lucida Console", "Courier New", monospace;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.582), 0 2px 10px 0 rgba(0, 0, 0, 0.561);
}
#remove_selected_button{
    border-radius: 4px;
    background: none;
    border: 3px solid #ffffff;    
    height: 50px;
    position: relative;top: -68px; left: 400px;

}
#remove_selected_button:hover{
    background: #000;
}
#remove_selected_button img{
    height : 45px;
}
#EditPersonPopup{
    position: relative;top: -3356px;left: 550px;
    backdrop-filter: blur(5px);
    background-color:#757373d3 ;
    width: 330px;
    height: 330px;
}

#editImageInput{
    display: none;
}
.edit_person_data{
width: 325px;
height: 40px;font-size: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.582), 0 6px 10px 0 rgba(0, 0, 0, 0.561);
border: none;
position: relative;
}
#edit_person_header h1{
    position: relative;left: 20px; 

}
#edit_person_header{
    height: 76px;
}
#change_photo_button,#submit_edit_button{
    color: #000000;
    background-color:#ffffff;
    border: 1px solid rgb(0, 0, 0);
    height: 40px;
    width: 130px;
    position: relative;top: 2px;left: 34px;
}
#edit_person_entries{
    height: 300px;
}
#close_edit_popup{
    position: relative;top: -80px;left: 291px;
    background: none;
    color: #ffffff;
    border: none;
    font-size: 30px;
}
#image_magnify_button{
    background: none;
    position: absolute;left: 840px;top: 20px;
    border: none;
    
}
#image_magnify_button img{
    height: 30px;
    
    
    
}
#image_magnify_button img:hover{
    opacity: 0.7;
   
}
.PersonsEntries{
    color: #585252;
    position: relative;left: 210px;top: -180px;
}
#magnified_image_wrapper{
    position: relative;top: -3680px;left: 520px;
    backdrop-filter: blur(5px);
    background-color:#000000d3 ;
    width: 1300px;
    height: 975px;
}
#magnified_image{
    width: 800px;
    height: 800px;
    position: relative;top: 10px;left: 260px;
}
#download_image_button{
    border-radius: 4px;
    background: #5c1e1eb9;
    border: none;
    position: relative;left: -200px;top: 120px;
}
#download_image_button:hover{
    opacity: 0.5;
}
#download_image{
    width: 100px;
  
}
#close_magnified_image{
    position: relative;top: -750px;left: 330px;
    font-size: 50px;
    background: none;
    border: none;
    color:#ffffff;

}
.entry_image{
    width: 60px;
    height: 60px;
    position: relative;top :-72px; left: 250px; 
    border-radius: 50%;
}
.entry_level_label{

    position: relative; top: -142px;left: 274px;
    font-size: 24px;
    color: #ffffff;
}